# Environment variables
.env

# Credentials
credentials/

# Python virtual environments
venv/
venv_dbt/

# Environment variables
.env

# dbt artifacts
02_sql_analytics/dbt/target/
02_sql_analytics/dbt/logs/
02_sql_analytics/dbt/dbt_packages/

# dbt profiles should stay local
profiles.yml

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VS Code local settings
.vscode/

# Power BI temporary files
*.tmp
*.temp

# Logs
*.log
data/