# Environment variables
.env

# Credentials
credentials/

# Python virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# VS Code local settings
.vscode/

# Power BI temporary files
*.tmp
*.temp

# Logs
*.log
data/