DB_HOST=localhost
DB_PORT=5432
DB_NAME=vietdist_dw
DB_USER=postgres
DB_PASSWORD=your_password_here

GOOGLE_SERVICE_ACCOUNT_JSON=./credentials/gdrive_service_account.json

AZURE_CLIENT_ID=your_client_id
AZURE_CLIENT_SECRET=your_client_secret
AZURE_TENANT_ID=your_tenant_id